<h2>Create Account</h2>
<form method="post" action="/Auth/authenticate">
    <div><input name="username" placeholder="username" /></div>
    <div><input type="password" name="password" /></div>
    <input type="submit" value="Sign In" />
</form>

<div asp-validation-summary="All" />
