<h1>Home Page</h1>

<nav>
  <ul>
    <li><a href="/home/me">Go to the Cookie Test Page</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/login/me">Go to the user page (only works after a login)</a></li>
  </ul>
</nav>
