@model IEnumerable<MVCDemo.Models.Person>

<ul>
  @foreach (var person in Model)
  {
    <li>
      <a asp-controller="Home" asp-action="Person" asp-route-name=@person.Name asp-route-advice=@person.Advice>@person.Name</a>
    </li>
  }
</ul>
