@model FormsDemo.Models.Dog

<h1>Edit Dog</h1>

<form asp-controller="Home" asp-action="Update" method="post">
  <div>
    Name:<input asp-for="@Model.Name" />
  </div>

  <div>
    Breed::<input asp-for="@Model.Breed" />
  </div>

  <div>
    Owner::<input asp-for="@Model.Owner" />
  </div>
  <input type="submit" value="Save Dog" />
</form>
