<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header>Welcome to our site...</header>
    <hr />
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; 2021 John
    </footer>
</body>
</html>
