<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/css/site.css" />
  <title>@ViewBag.Title</title>
</head>
<body>
  <h1>This is my site!</h1>
  <div>
    @RenderBody()
  </div>
</body>
</html>
