@page
@model RazorPages.Pages.Accounts.RegisterModel
@{
}

<h1>Add a Person</h1>

<form method="post">
  <div>
    <label asp-for="Input.Name">Full Name</label>
    <input asp-for="Input.Name" />
  </div>
  <div>
    <label asp-for="Input.Age">Age</label>
    <input asp-for="Input.Age" />
  </div>

  <div>
    <button>Add Person</button>
  </div>
</form>
