@model FormDemo.Models.Pet

<!-- this gives us access to the enum -->
@using FormDemo.Models
 
<h2>Add a new pet...</h2>

<form asp-controller="Home" asp-action="Add" method="post">
    <label>
        <span>Type</span>
        <select asp-for="@Model.Type" asp-items="Html.GetEnumSelectList<PetType>()"></select>
    </label>

    <label>
        <span>Name</span>
        <input asp-for="@Model.Name" />
    </label>

    <label>
        <span>Owner</span>
        <input asp-for="@Model.Owner" />
    </label>

    <label>
        <span>Age</span>
        <input asp-for="@Model.Age" />
    </label>

    <button type="submit">Save</button>
</form>
