<form method="post" action="/login/authenticate">
  <input name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="Sign In" />
</form>

<div asp-validation-summary="All"></div>

