@page
@model ComponentsDemo.Pages.Settings.IndexModel
@{
}

<form method="post">
  <div>
    <label asp-for="Settings.Username">User Name:</label>
    <input asp-for="Settings.Username" type="text" />
  </div>
  <div>
    <label asp-for="Settings.Mode">Display Mode:</label>
    <input asp-for="Settings.Mode" />
  </div>
  <div><button>Save Settings</button></div>
</form>
